*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Metropolis;
    border: none;
}

*:focus{
    outline: none;
    border: none;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0px 0px;
    width: 90%;
    margin: 0px auto;
}

nav img.logo{
    width: 5vw;
}

section.app img.app{
    width: 30%;
}

section.app div.input{
    width: 100%;
    display: flex;
    align-items: center;
    height: 50px;
}

section.app div.input input{
    flex-grow: 70;
    background-color: #fff;
    border: 1px solid #CFCFCF;
    font-size: 1.2rem;
    padding-left: 10px;
    border-radius: 5px;
    height: 80%;
    margin: 0px 10px 0px 0px;
}

section.app div.input button{
    flex-grow: 10;
    background-color: #ed5a68;
    color: #fff;
    border: 1px solid #CFCFCF;
    padding: 10px;
    font-size: 1.1rem;
    border-radius: 5px;
    height: 80%;
}

section.app div.form div.download{
    margin: 20px 0px;
    font-weight: 100;
    color: grey;
}

section.app div.form div.download div{
    margin: 5px;
}

section.app div.form div.download div img{
    max-width: 150px;
    display: inline-block;
    margin: 5px 5px;
}